##Mysql Conf
[mysqladmin]
user=mysql

[mysqld]
basedir=/AZVOL/mysql
datadir=/AZVOL/mysql/data
port=3306
socket=/AZVOL/mysql/tmp/mysql.sock
bind-address=localhost
skip-name-resolve
key_buffer_size=256M
max_allowed_packet=20M
sort_buffer_size=4M
read_buffer_size=1M
read_rnd_buffer_size=128M
myisam_sort_buffer_size=8M
thread_cache_size=512
innodb_data_home_dir=/AZVOL/mysql/data
#innodb_log_group_home_dir=/var/lib/mysql/
# You can set .._buffer_pool_size up to 50 - 80 %
# of RAM but beware of setting memory usage too high
innodb_buffer_pool_size=4096M
innodb_additional_mem_pool_size=512M
# Set .._log_file_size to 25 % of buffer pool size
#innodb_log_file_size=25M
#innodb_log_buffer_size=128M
#innodb_flush_log_at_trx_commit=1
#innodb_lock_wait_timeout=50
net_buffer_length=1000000
### added by xavier
max_connections=500
wait_timeout = 25000
interactive_timeout=25000
tmp_table_size=24M
max_heap_table_size=24M
read_rnd_buffer_size=4M
join_buffer_size=8M
expire_logs_days = 7
key_buffer_size=64M
query_cache_size=128M
query_cache_limit=128M
log-queries-not-using-indexes
join_buffer_size=1M
#log-slow-queries=/AZVOL/mysql/var/log/slow.log
##Replication conf
#binlog_do_db = reptest
#server-id = 1
#log_bin=/AZVOL/mysql/var/log/mysql-bin.log
# * Query Cache Configuration
#
#query_cache_limit       = 512M
#query_cache_size        = 512M

[mysqld_safe]
mysqld=mysqld

port=3306
socket=/AZVOL/mysql/tmp/mysql.sock
pid-file=/AZVOL/mysql/tmp/manager.pid
default-mysqld-path=/AZVOL/mysql/bin/mysqld

